In [ ]:
import pandas as pd

In [ ]:
# Create the contigency table
ODD = pd.DataFrame({'mr' :[7743, 2240],
                   'mum':[4738, 1443],
                   'mother':[2987,844],
                   'female':[2709,867],
                   'male':[2300,703],
                   'mrs':[2484,690]},index={'no Harm','Harm'})

        no Harm  Harm
mr         7743  2240
mum        4738  1443
mother     2987   844
mrs        2709   867
female     2300   703
male       2484   690

In [ ]:
OD

           mr   mum  mother  female  male   mrs
Harm     7743  4738    2987    2709  2300  2484
no Harm  2240  1443     844     867   703   690

In [ ]:
import scipy.stats as stats


# chi-square test
chiRes = stats.chi2_contingency(OD)
# Details
print(f'chi-square statistic: {chiRes[0]}')
print(f'p-value: {chiRes[1]}')
print(f'degree of freedom: {chiRes[2]}')
print('expected contingency table') 
print(chiRes[3])

chi-square statistic: 9.973892378020068
p-value: 0.07597838283854057
degree of freedom: 5
expected contingency table
[[7705.38063063 4770.80613823 2956.95814845 2760.1363453  2317.86617588
  2449.85256152]
 [2277.61936937 1410.19386177  874.04185155  815.8636547   685.13382412
   724.14743848]]

With a p-value of more than 0.05, we fail to reject the null hypothesis (H0: no relationship between the 2 variables). Obesity is not associated with being diabetic. The expected contingency table shows the expected values if the null hypothesis is True. The details may be examined from the difference between the values of the expected contingency table (should obesity be strongly associated with being diabetic) and the initial contingency table.